labsoap/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAServer" targetNamespace="http://example.com/sample.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/sample.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
    
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
	

    
	<wsdl:types>
		
       
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.com/sample.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
       
			<xsd:element name="MyFirstService">
				<xsd:complexType>
					<!--<xsd:all>-->
						<!--<xsd:element name="value" type="xsd:anyType"/>-->
					<!--</xsd:all>-->
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MyFirstServiceResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MyArgsService">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="arg1" type="xsd:string"/>
						<xsd:element name="arg2" type="xsd:string"/>
						<xsd:element name="arg3" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MyArgsServiceResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="result" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
    
	</wsdl:types>
	


	<wsdl:message name="MyFirstServiceInput">
		<wsdl:part element="tns:MyFirstService" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="MyFirstServiceOutput">
		<wsdl:part element="tns:MyFirstServiceResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="MyArgsServiceInput">
		<wsdl:part element="tns:MyArgsService" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="MyArgsServiceOutput">
		<wsdl:part element="tns:MyArgsServiceResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="SOAServerPortType">
		<wsdl:operation name="MyFirstService">
			<wsdl:input message="tns:MyFirstServiceInput"/>
			<wsdl:output message="tns:MyFirstServiceOutput"/>
		</wsdl:operation>
		<wsdl:operation name="MyArgsService">
			<wsdl:input message="tns:MyArgsServiceInput"/>
			<wsdl:output message="tns:MyArgsServiceOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SOAServerBinding" type="tns:SOAServerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MyFirstService">
			<soap:operation soapAction="http://localhost:8050/MyFirstService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MyArgsService">
			<soap:operation soapAction="http://localhost:8050/MyArgsService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SOAServerService">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:port binding="tns:SOAServerBinding" name="SOAServer">
			<soap:address location="http://localhost:8050/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
